body {
    font-family: Arial, sans-serif;
    background-image: url('Quiz.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Basic button style */
.start-quiz-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0c55b4; /* Button background color */
    color: #f5f7f5; /* Button text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.start-quiz-button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
}
